.container {
    border-radius: 30px;
    padding: 40px 30px;
    text-align: center;
    box-shadow: 0 8px 32px rgba(0,0,0,0.37);
    width: 360px;
  }


  .buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
  }


  .buttons button {
    border: none;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    font-size: 32px;
    cursor: pointer;
    transition: transform .2s, box-shadow .2s;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .count {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 32px;
  }
